
*{
margin:0;
padding:0;
}

#ajax_return{
width:850px;
margin:0 auto;
}

#ajax-content{
margin-top:50px;

}
#ajax-content li{

margin-bottom:20px;
border:1px solid black;
padding:5px;
}

.holder{
padding:5px;
margin-left:10px;
float:left;
width:600px;
}
.content{
margin-top:10px;
display:inline;
}

.round{
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}
.clearBoth{
clear:both;
}
.pagination{
margin-left:100px;
width:550px;
text-align:center;
}
.paginator{
width:30px;

}
#loadingDiv{
position:absolute;
left:300px;
top:200px;
z-index:100;
opacity:0.3;
}

.read-more{
display:inline;
}

.more{
display:inline;
color:blue;
text-decoration:underline;

}
.more:hover{
cursor:pointer;
}
.imageHolder{
float:left;
}

.imageHolder img{
clear:both;
}

#ajax-content{
list-style:none;
}
.currentRank{
margin-left:-50px;
}
.currentRank1{
margin-left:-40px;

}

